<!DOCTYPE html>
<html>

<head>
    <title>依赖关系图</title>
    <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        html{
            height: 100%;
        }
        body{
            height: 100%;
        }
        .wqh{
            height: 100%;
            background-color: royalblue;
        }
    </style>
</head>

<body>
<div id="main" style="width: 100%;height:100%;border:1px solid #ccc;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));

    var option;

    myChart.showLoading();
    let data =  <%-data%>
    myChart.hideLoading();
    myChart.setOption(
        (option = {
            tooltip: {
                trigger: 'item',
                triggerOn: 'mousemove'
            },
            series: [
                {
                    type: 'tree',
                    data: [data],
                    roam: true, //
                    top: '1%',
                    left: '7%',
                    bottom: '1%',
                    right: '20%',
                    symbolSize: 7,
                    label: {
                        position: 'left',
                        verticalAlign: 'middle',
                        align: 'right',
                        fontSize: 9
                    },
                    leaves: {
                        label: {
                            position: 'right',
                            verticalAlign: 'middle',
                            align: 'left'
                        }
                    },
                    emphasis: {
                        focus: 'descendant'
                    },
                    expandAndCollapse: true,
                    animationDuration: 550,
                    animationDurationUpdate: 750
                }
            ]
        })
    );







</script>
</body>

</html>